services:
  mongo:
    image: mongo:8.0.4
    ports:
      - 27017:27017
  api:
    image: "ghcr.io/micahg/tbltp-api:0.27.0"
    ports:
      - 3000:3000
    depends_on:
      - mongo
    environment:
      - MONGO_URL=mongodb://mongo:27017/tbltp
      - DISABLE_AUTH=true
  ui:
    image: "ghcr.io/micahg/tbltp-mui:0.21.0"
    ports:
      - "8080:80"
    depends_on:
      - api
    environment:
      - API_URL=http://127.0.0.1:3000
      - WS_URL=ws://127.0.0.1:3000
